$containerWidth: 1100px;
$baseFontSize: 18px;

//colors
$red: #E01F3D;
$red-hover: #CA1B36;
$grey: #F5F5F5;
$black: #292929;
$white: #AAAAAA;

//z-index
$z-fixed-menu: 100;

//normalize
@import "normalize";

// //fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap');

//layout
@import "./layout";



//components
@import "./blocks/hero";
@import "./blocks/header";
@import "./blocks/feature";
@import "./blocks/features";
@import "./blocks/buttons";
@import "./blocks/section";
@import "./blocks/headline";
@import "./blocks/benefit";
@import "./blocks/benefits";
@import "./blocks/benefits-section";
@import "./blocks/reviews__display";
@import "./blocks/interactive-avatar";
@import "./blocks/reviews__switcher";
@import "./blocks/reviews-section";
@import "./blocks/order-section";
@import "./blocks/form";
@import "./blocks/radio";
@import "./blocks/fixed-menu";