.features {
    display: flex;
}

.feature {
display: flex;
}

.features__item {
    margin-right: 46px;

    &:last-child {
        margin-right: 0;
    }
}

.feature__icon {
    width: 45px;
    margin-right: 7px;
}

.feature__text {
    font-size: 18px;
    max-width: 114px;
}