.hero {
    background: #F8FAF9;
    height: 75vh;
    min-width: 650px;
    color: $black;
    position: relative;

    &::before {
        position: absolute;
        bottom: -32px;
        right: 7%;
       content: url("../../img/rectangle.png") 
    }
}

.hero__title-section {
    width: 46%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 126px 0;
    background: url("../img/beats.png") right  center / 50% auto no-repeat;
}

.menu__link {
    text-decoration: none;
}

.hero__main-title {
    
    font-family: 'Play', Arial, Helvetica, sans-serif;
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    padding-right: 64px;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 48px;
    padding-right: 111px;
}