.section {
    height: 10vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__title {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Play', Arial, Helvetica, sans-serif;
    margin-bottom: 53px;
    text-align: center;
    color: $black;
    text-transform: uppercase;
}
