.benefits {
    position: relative;
    height: 100vh;

    &::before {
        content: url("../img/triangle.png");
        position: absolute;
        bottom: 16%;
        left: 5%;

        @include tablets {
            bottom: 1%;
            left: 7%;  
        }

        @include phones {
            bottom: 13%;
            left: 10%;
        }
        
    }
}

.benefits__list {
   display: flex; 
   flex-wrap: wrap;

   @include phones {
       flex-direction: column;
   }
}

.benefits__item {
    flex: 1;
    padding: 0 1%;
    position: relative;

    @include tablets {
        padding-bottom: 4%;   
    }

    @include phones {
        padding-bottom: 2%;
    }

    &::before {
        content: url("../img/separator.png");
        position: absolute;
        top: rem(30px);
        right: 0;
        transform: translateX(50%);

        @include tablets {
            display: none;
        }

        @include phones {
            padding: 0;
        }

    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &::before {
            display: none;
        }
    }
}

.benefits__item p {
    font-size: 16px;

    @include phones {
        padding: 0;
        margin-bottom: 0;
        }
}

.benefit__image {
    margin-bottom: rem(19px);
    margin-right: rem(12px);
}