.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }
}

.benefit__image-wrapper {
    display: inline-block;
    width: 128px;
    height: 128px;
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    // margin-bottom: rem(15px);
}

.benefit__icon {
    width: 68px;
    height: 68px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title {
    font-family: 'Play', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: $black;
    margin-bottom: rem(7px);
    white-space:nowrap;

    @include phones {
        white-space:normal;
    }
}

.benefit__desc {
    font-family: 'Play', Arial, Helvetica, sans-serif;
    font-size: rem(16px);
    padding: 0 14%;

    @include tablets {
        padding: 0 1%;  
    }
    
@include phones {
    padding: 0 2%;
}

}