.button {
    font-size: 16px;
    font-weight: bold;
    padding: 23px 46px;
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-family: 'Play', Arial, Helvetica, sans-serif;

    @include phones {
        font-size: 16px;
    }

    &__red {
        background: $red;
        color: #fff;

        @include phones {
            font-size: 16px;
        }

        &:hover {
            background: $red-hover;
        }
    }

    &__transparent {
        background: transparent;
        color: #fff;
        font-weight: normal;
        text-transform: none;

        &:hover{
            color: $red;
        }
    }
}