.button {
    font-size: rem(16px);
    font-weight: bold;
    padding: rem(23px) rem(46px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-family: 'Play', Arial, Helvetica, sans-serif;

    &__red {
        background: $red;
        color: #fff;

        &:hover {
            background: $red-hover;
        }
    }

    &__transparent {
        background: transparent;
        color: #fff;
        font-weight: normal;
        text-transform: none;

        &:hover{
            color: $red;
        }
    }
}