.feature {
    display: flex;
    }

    .feature__icon {
        width: 45px;
        margin-right: 7px;
    }
    
    .feature__text {
        font-size: 16px;
        font-family: 'Play', Arial, Helvetica, sans-serif;
        max-width: 114px;
    }