.feature {
    display: flex;
    }

    .feature__icon {
        width: rem(45px);
        margin-right: rem(7px);
    }
    
    .feature__text {
        font-size: rem(16px);
        font-family: 'Play', Arial, Helvetica, sans-serif;
        max-width: rem(114px);
    }