.fixed-menu {
    position: fixed;
    top: 20%;
    right: 3%;
    z-index: $z-fixed-menu;
}

.fixed-menu__item {
    margin-bottom: rem(5px);
    filter: grayscale(100%);


    &--active {
        .fixed-menu__link {
            border-color: $red;
            filter: grayscale (0);
        }
    }

}

.fixed-menu__link {
    width: rem(18px);
    height: rem(18px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
    display: block;
    position: relative;



    &::before {
        content: "";
        width: rem(9px);
        height: rem(9px);
        border-radius: 50%;
        background: $red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}