.form {
    display: flex;
    

    @include tablets{
        flex-direction: column;
        padding: 0 16%;
    }

    @include phones{
        padding: 0
    }

}

.form__col {
    flex: 1;
    margin-right: rem(27px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets{
        margin-right:0;
    }

}

.form__row {
    display: flex;
    margin-bottom: rem(11px);
}

.form__block {
    flex: 1;
    margin-right: rem(27px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(18px) rem(12px);
    border: solid rem(3px) transparent;
    font-size: rem(14px);

    @include tablets{
        padding: rem(11px) rem(14px);
    }

    &--textarea {
        height: rem(152px);
        resize: none;
        margin-bottom: rem(38px);

        @include tablets{
            height: rem(100px);
            margin-bottom: rem(24px);
        }

        @include phones{
            height: 80px;
        }

    }

    &:focus {
        border-color: $red;
        outline: none;
    }

}

.form__controls {
    display: flex;
    flex-wrap: wrap;

    @include phones{
        justify-content: center;
    }
}

.form__title {
    margin-bottom: rem(6px);
    font-size: 16px;
    font-family: 'Play', Arial, Helvetica, sans-serif;
}

.form__btns {
    margin-top: rem(48px);
    margin-bottom: rem(85px);

    @include tablets{
        display: flex;
        justify-content: center;
    }

    @include phones {
        display: flex;
        flex-wrap: wrap;
    }
}