.form {
    display: flex;
}

.form__col {
    flex: 1;
    margin-right: 27px;

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: 11px;
}

.form__block {
    flex: 1;
    margin-right: 27px;

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: 18px 12px;
    border: solid 3px transparent;
    font-size: 14px;

    &--textarea {
        height: 152px;
        resize: none;
        margin-bottom: 38px;
    }

    &:focus {
        border-color: $red;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
}

.form__title {
    margin-bottom: 6px;
    font-size: 16px;
}

.form__btns {
    margin-top: 48px;
}