.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: rem(18px);
}

.headline__subtitle {
    font-size: 16px;
    padding: 0 26%;
    margin-bottom: rem(62px);

    @include tablets {
        padding: 0 11%;  
    }

    @include phones {
        padding: 0 5%;  
    }
}