.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 400;
    font-family: 'Algreya Sans', Arial, Helvetica, sans-serif;
}

.menu {
    margin: 0 13px;
    padding-top: 10px;

    @include tablets {
        display: none;
        
    }
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item{
    margin-right: rem(46px);

    &:last-child {
        margin-right: 0;
        // margin-bottom: 10px;
    }
}

.menu__link {
    text-decoration: none;
    white-space:nowrap ;
}