.hero {
    background: #F8FAF9;
    height: 100vh;
    // min-width: rem(650px);
    color: $black;
    position: relative;
  

    // &::before, &::after {
    //     @include tablets;
    //     display: none;
    // }

    &::before {
        position: absolute;
        bottom: -3%;
        right: 7%;
       content: url("../img/rectangle.png");
    }
}

.hero__title-section {
    width: 46%;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &::before {
            content:"" ;
            width: 71%;
            height: 37%;
            
            background: url("../img/beats_little.png") center center / contain no-repeat;
            margin-bottom: rem(60px);
        }
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(126px) 0;
    background: url("../img/beats.png") right  center / 50% auto no-repeat;
  

    @include tablets {
        background: none;
        height: 100vh;
    }

}

.menu__link {
    text-decoration: none;
}

.hero__main-title {
    
    font-family: 'Play', Arial, Helvetica, sans-serif;
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: rem(14px);
    text-transform: uppercase;
    padding-right: 9%;

    @include tablets {
        padding: 0 5%;
    }

    @include phones {
        padding:2% 8%;
        font-size: 32px;
    }
}

.hero__title-desc {
    font-family: 'Play', Arial, Helvetica, sans-serif;
    font-size: 21px;
    margin-bottom: rem(40px);
    padding-right: 17%;

    @include tablets {
        padding: 0 22%;
        font-size: 18px;
    }

    @include phones {
        padding: 0 13%;
    }
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}