.map-section {
    background: url("../../img/map.jpg") center center  / contain no-repeat;
    margin-bottom: 20px;
    // width: 100%;
    // overflow: hidden;
    // max-height: 650px;
    // flex: 1;
    // min-height: 0;
    

@include tablets {
    background: url("../../img/map768.jpg") center center  / contain no-repeat;
}

@include phones {
    background: url("../../img/map482.jpg") center center  / contain no-repeat;
}

    }