.map-section {
    background: url("../img/map.jpg") center center  / contain no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 50%;
    

@include tablets {
    background: url("../img/map768.jpg") center center  / contain no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 50%;
}

@include phones {
    background: url("../img/map482.jpg") center center  / contain no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 50%;
}

    }