.order {
    background: url("../img/cta.png")center center;
    background-size: cover;
    background-position: 50% 81%;
    height: 100vh;
    color: #fff;

    .section__title {
        color:inherit;
    }
}