.reviews {
    position: relative;
    height: 100vh;

    &::before {
        content: url("../img/circle.png");
        position: absolute;
        bottom: -2.5%;
        left: 2%;

@include tablets {
    bottom: -2.5%;
    left: 8%;
}

        @include phones {
            bottom: -2.5%;
            left: 11%;
        }
    }
}